.color-preset-1 {
  background-color: #e6e6e6;
  color: #000000;
}

.color-preset-2 {
  background-color: #000000;
  color: white;
}

body {
  font-family: "Century Gothic";
  font-size: larger;
}

.title {
  position: relative;
  width: 80%;
  font-size: 5vw;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  border-radius: 0.45rem;
  box-shadow: 0.5rem 0.5rem 3rem black;
}

.emphasis {
  position: relative; 
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.emphasis::after {
  position: absolute;
  content: " ";
  top: 100%;
  left: 50%;
  width: 80%;
  border: 0.5px solid #3c756e;
  border-radius: 4px;
  transform: translateX(-50%);
}

.quote {
  width: 80%;
  height: auto;
  margin: auto;
}

.quote h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2vw;
}

/* .arrow {
  margin-top: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 7.5px;
  border: solid white;
  border-width: 0 3px 3px 0;

  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */





.accordion-header {
  background-color: black;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 6px solid #3c756e;
  border-radius: 0.45rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: gray;
}

.accordion-header > .accordion-header-content > h3:after {
  content: ">";
  float: right;
  position: relative;
  margin: auto;

  margin-right: 40px;
  transform: rotate(90deg);
  transition-duration: 0.4s;
}

.accordion-header.active > .accordion-header-content > h3:after {
  transform: rotate(-90deg);
}

.accordion-header-content {
  padding-left: 20px;
}

.accordion-content {
  width: 80%;
  max-height: 0;
  margin: auto;
  margin-bottom: 20px;
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.card-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.card {
  height: auto;
  margin-bottom: 20px;
  border-radius: 0.45rem;
  box-shadow: 0.5rem 0.5rem 3rem black;
}

.card p {
  margin: auto;
  padding-bottom: 20px;
}

.image {
  display: block;
  width: 80%;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 3rem black;
}

#img-caption {
  margin-bottom: 20px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .title {
    width: 95%;
  }

  .quote h2 {
    font-size: 4vw;
  }

  .accordion-header {
    width: 95%;
  }

  .accordion-content {
    width: 95%;
  }

  .card-container {
    display: grid;
    width: 95%;
    grid-template-columns: 100%;
    grid-column-gap: 0px;
  }

  .image {
    width: 95%;
  }
}